<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
	<createPackages>
		<package id="8f375eff-69de-43c0-bfd6-60ba002f0d3e" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
			<name>${application.name}.UI</name>
			<stereotypes />
			<childElements />
			<associations />
			<references />
			<metadata />
		</package>
	</createPackages>
</settings>